{% extends "authenticated.html" %}

{% block title %}Bem-vindo{% endblock %}
    
{% block content %}
    <script>
        function enviar(event) {
            event.preventDefault();
            fetch('/boards/new', {
                method: 'POST',
                body: JSON.stringify({
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    text: document.getElementById("id_text").value,
                    label: document.getElementById("id_label").value
                }),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                }
            })
            .then((res) => res.json())
            .then((data) => {
                if (data?.success) {
                    window.alert("Tudo certo! O botão foi criado com sucesso!");
                    window.location.href = '/boards'
                }
            });
        }
    </script>

    <h2>Adicionar novo botão</h2>
    <form method="post" action="{% url 'create_board' %}" onsubmit="enviar(event)">
        {% csrf_token %}

        <div class="mb-2">
            <label for="id_label" class="form-label">Nome do botão:</label>
            <input type="text" name="label" autofocus="" maxlength="30" required="" id="id_label" class="form-control" />
        </div>

        <div class="mb-2">
            <label for="id_text" class="form-label">Texto a ser falado:</label>
            <input type="text" name="text" autofocus="" maxlength="200" required="" id="id_text" class="form-control" />
        </div>

        <button class="btn btn-primary mt-3" type="submit">Salvar</button>
        <a href="{% url 'list_board' %}" class="btn btn-link mt-3">cancelar</a>
    </form>    
{% endblock %}
