{% extends "authenticated.html" %}

{% block title %}Bem-vindo{% endblock %}
    
{% block metas %}
<script>
function play(identifier) {
    console.log("play", identifier);
    window.alert('Play ' + identifier);
}
</script>
{% endblock %}

{% block content %}

    {% if buttons.count == 0 %}
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column py-3 text-center">
                <p>Olá! Bem-vindo à sua prancha!</p>
                <p>Você ainda não possui nenhum botão criado.</p>
                <a href="{% url 'create_board' %}" class="btn btn-primary w-100">Adicionar seu primeiro botão</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% for button in buttons  %}
            <div id="{{ button.id }}" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="border shadow-sm p-3 bg-body-tertiary rounded w-100 btn" onclick="play('{{button.identifier}}')">
                    <p class="fs-4 fw-bold text-center m-2">{{ button.button_label }}</p>
                    <p class="fs-6 fw-lighter">{{ button.button_text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
