{% extends "authenticated.html" %}

{% block title %}Bem-vindo{% endblock %}
    
{% block metas %}
<script>
function remove(identifier) {
    if (!window.confirm('Tem certeza que deseja remover este item?')) {
        return;
    }
    fetch('/boards/manage', {
        method: 'DELETE',
        body: JSON.stringify({
            csrfmiddlewaretoken: '{{ csrf_token }}',
            identifier,
        }),
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        }
    })
        .then((res) => res.json())
        .then((data) => {
            if (data?.success) {
                document.getElementById(identifier).remove();
            }
        });
}
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <a class="btn btn-large btn-primary mb-5" href="{% url 'create_board' %}">Adicionar botão</a>
        </div>        
    </div>
    <div class="row">
        {% for button in buttons  %}
            <div id="{{ button.identifier }}" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="border shadow-sm p-3 bg-body-tertiary rounded w-100">
                    <p class="text-center m-2">{{ button.button_label }}</p>
                    <button class="btn btn-outline-danger my-2" onclick="remove('{{button.identifier}}')">Excluir</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
