{% extends "base.html" %}

{% block title %}Bem-vindo{% endblock %}
    
{% block content %}
    <div class="w-100 m-auto" style="max-width: 330px">
        <p class="text-center">Acesse sua conta para continuar ou cadastre-se:</p>
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-2">
                <label for="id_username" class="form-label">Usuário:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Senha:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control" />
            </div>

            <button class="btn btn-primary w-100" type="submit">Entrar</button>
            <a href="/accounts/signup" class="btn btn-outline-secondary mt-3 w-100">Cadastre-se</a>
        </form>
    </div>
{% endblock %}
