{% extends "bootstrap.html" %}

{% block body %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Prancha de Comunicação</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'boards' %}" class="nav-link {% if request.resolver_match.url_name == 'boards' %}active{% endif %}" aria-current="page">Início</a></li>
        <li class="nav-item"><a href="{% url 'list_board' %}" class="nav-link {% if request.resolver_match.url_name == 'list_board' %}active{% endif %}" aria-current="page">Gerenciar</a></li>
        <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="nav-link" type="submit">Sair</button>
            </form>
        </li>
      </ul>
    </header>
  </div>

  <div class="container py-2">
    {% block content %}
    {% endblock %}
  </div>  
{% endblock %}